@inject IProfileData ProfileData
@inject ICommentData CommentData
@inject ILikeData LikeData
@inject IDialogService DialogService
@inject NavigationManager Navigation

<div @onclick="LoadBlogPage" class="border-b-[1px] border-neutral-800 p-2 cursor-pointer hover:bg-neutral-900 transition">
    <div class="flex flex-row items-start gap-3">
        <Avatar Profile="@Blog.Profile" />
        <div class="w-full">
            <div class="flex flex-row items-center gap-2 flex-col">
                <p @onclick="LoadProfilePage" @onclick:stopPropagation
                   class="text-white font-semibold cursor-pointer hover:underline">
                    @Blog.Profile?.FirstName @Blog.Profile?.LastName
                </p>
                <span @onclick="LoadProfilePage" @onclick:stopPropagation
                      class="text-neutral-500 cursor-pointer hover:underline hidden md:block">
                    @@@Blog.Profile?.DisplayName
                </span>
                <span class="text-neutral-500 text-sm">
                    @Blog?.DateCreated.Humanize()
                </span>
               @if (ShowEdit)
                {
                    <button @onclick="OpenEditDialogAsync" @onclick:stopPropagation class="ml-auto">
                        <MudIcon Icon="@Icons.Material.Filled.Edit" Class="text-sky-500 hover:text-sky-600" />
                    </button>
                }
            </div>
            <div class="text-white mt-1">
                @Blog.Body
            </div>
            <div class="flex flex-row items-center mt-3 gap-10">
                <div @onclick:stopPropagation
                     class="flex flex-row items-center text-neutral-500 gap-2 cursor-pointer transition hover:text-sky-500">
                    <MudIcon Icon="@Icons.Material.Outlined.Message" Size="Size.Small" Title="Comments"/>
                    <p>
                        @((comments is not null ? comments.Count : "0"))
                    </p>
                </div>
                <div @onclick="OnLikeAsync" @onclick:stopPropagation
                     class="flex flex-row items-center text-neutral-500 gap-2 cursor-pointer transition hover:text-rose-500">
                    <MudIcon Icon="@Icons.Material.Outlined.Favorite"
                             Size="Size.Small"
                             Color="@((isLiked) ? Color.Error : Color.Surface)"
                             Title="Like"/>
                    <p>
                        @likeCount
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


